<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%='hello world' %> </h1>
    <p>Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Commodi adipisci ipsam, 
        sunt nisi delectus tempora ipsa, hic optio eaque earum quasi 
        voluptatibus a temporibus. Ipsa culpa 
        natus ipsam necessitatibus iste.</p>

    <p>Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. Voluptatem cupiditate 
        tenetur tempora, deserunt sapiente amet 
        quam error ea hic explicabo dignissimos blanditiis 
        cum in praesentium nam dolorem, enim illo aliquam!</p>
    
</body>
</html>